.product-list-wrapper {
  width: 80%;
}

.react-paginate {
  text-align: center;
}

.react-paginate li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.active-pag {
  background-color: #e65540;
}